address.contacts
  .contacts-header
    span.header-inner-text Контакты
  ul.contacts-list
    li.contacts-item.contacts-item-mail
      a.contacts-link(href="")
        span.contact-text mail@gmail.com
    li.contacts-item.contacts-item-phone
      a.contacts-link(href="")
        span.contact-text +8989898989
    li.contacts-item.contacts-item-skype
      a.contacts-link(href="")
        span.contact-text skype_gomer