footer.page-footer
	.container
		.lock
			a.lock-inner(href="/login.html") Войти
		.copyright © 2015, Это сайт Гомера, пожалуйста, не копируйте и не воруйте его

<!-- build:js js/vendor.js --> 
//bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/bpopup/jquery.bpopup.js')
script(src='/bower/jquery-placeholder/jquery.placeholder.js')
script(src='/bower/qtip2/jquery.qtip.js')
//endbower  
<!-- endbuild --> 

<!-- build:js js/main.js --> 
script(src="js/login.js")
script(src="js/add_project.js")
script(src="js/validation.js")
script(src="js/contact_me.js")
script(src="js/plugins.js")
script(src="js/main.js")
<!-- endbuild --> 
