<!-- build:js js/vendor.js --> 
//bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery-ui/jquery-ui.js')
//endbower  
<!-- endbuild --> 

<!-- build:js js/main.js --> 
script(src="js/plugins.js")
script(src="js/main.js")
<!-- endbuild --> 
