head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block title
    title front_prj
  
  meta(name="description", content="loftschool_homework")
  meta(name="keywords", content="loftschool_homework")
  meta(name="author", content="Gomer Simpson") 

  link(rel='shortcut icon', href='/favicon.ico', type="image/x-icon")
  link(rel='icon', href='/favicon.ico', type="image/x-icon")
  
  <!-- build:css css/vendor.min.css -->
  // bower:css
  link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
  link(rel='stylesheet', href='/bower/qtip2/jquery.qtip.css')
  // endbower 
  <!-- endbuild -->
  
  <!-- build:css fonts/fonts.min.css -->
  link(rel="stylesheet", href="fonts/fira.css")
  link(rel="stylesheet", href="fonts/proximanovacond-semibold.css")
  <!-- endbuild -->

  <!-- build:css css/main.min.css -->
  link(rel="stylesheet", href="css/about_me_page.css")
  link(rel="stylesheet", href="css/my_work_page.css")
  link(rel="stylesheet", href="css/contact_me.css")
  link(rel="stylesheet", href="css/main.css") 
  link(rel="stylesheet", href="css/modal.css") 
  link(rel="stylesheet", href="css/form_elements.css") 
  link(rel="stylesheet", href="css/login.css") 
  <!-- endbuild -->

  <!-- build:js js/modernizr.min.js -->
  script(src="bower/modernizer/modernizr.js")
  <!-- endbuild -->