header.page-header
  .container-big
    a.header-logo-link
      img.logo-img(src="img/logo.png", alt="logo")
      span.header-logo-text Сайт портфолио
    ul.socials
      li.socials-item
        a.socials-link.vk(href="", target="_blank")
      li.socials-item
        a.socials-link.tw(href="", target="_blank")
      li.socials-item
        a.socials-link.fb(href="", target="_blank")
      li.socials-item
        a.socials-link.gt(href="", target="_blank")
