block link
-var menu = { 'Обо мне': '/', 'Мои работы': '/my-work.html', 'Связаться со мной': '/contact-me.html'};
nav.navigation
	ul.navigation-list
		each val, key in menu
			if selected === key
				li.navigation-item.current
					a.navigation-link(href=val)= key
			else
				li.navigation-item
					a.navigation-link(href=val)= key
