@font-face {
    font-family: 'ProximaNovaCondensedSemibold';
    src: url('proximanovacond-semibold.eot');
    src: url('proximanovacond-semibold.eot') format('embedded-opentype'),
         url('proximanovacond-semibold.woff') format('woff'),
         url('proximanovacond-semibold.ttf') format('truetype'),
         url('proximanovacond-semibold.svg#ProximaNovaCondensedSemibold') format('svg');
}
